---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Changelog">
    <article>
        <ul>
            <li>Sun, 7. Jan 2024: Hello world!</li>
        </ul>
        
    </article>
</Layout>