---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Colophon">
    <p>Work in progress</p>
    <p>Color theme: Customized <a href="https://stephango.com/flexoki">Flexoki</a></p>
</Layout>