---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import RecentShortsList from '../components/RecentShortsList.astro';
---

<Layout title="uarrr.org">
	<main>
		<div class="shortSidebar">
			<div class="avatar"></div>
			<RecentShortsList />
		</div>
		
		<p>Hi, ich bin Marcel, ein Designer aus Schwerin, der mit seinen zwei Katzen...</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: #333;
		font-size: 20px;
		line-height: 1.6;
		border: 1px solid #333;
		border-radius: 16px;
		display: flex;
		flex-direction: row;
	}

	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

	.shortSidebar {
		display: flex;
	}

	.avatar {
		width: 120px;
		height: 120px;
		background-color: #f8f8f8;
	}
	

</style>
