---
import Layout from '../layouts/Layout.astro';
import RecentShortsList from '../components/RecentShortsList.astro';
import PostsList from '../components/PostsList.astro';
import Header from '../components/Header.astro';
import RecentBooks from '../components/RecentBooks.astro';

---

<Layout showingShort={true}>
	<div class="content">

		<RecentBooks />

		<hr />
		<PostsList />
	</div>
</Layout>

<style>
	main {
		/* display: flex;
		flex-direction: row;
		gap: 2rem; */
	}

	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

	.shortsSidebar {
		display: flex;
		gap: 1rem;
		flex-shrink: 0;
	}

	.content {
		display: flex;
		flex-direction: column;
		gap: 4rem;
	}

	
	

</style>
