---
import Layout from "../layouts/Layout.astro";

---

<Layout title="/now">
    <article>
        <p>Work in progress</p>
        <p>Updated January 7th, 2024, from my home in Schwerin, Germany</p>
        <blockquote>"Besides answering the common question, “What are you up to these days?”, those who have a now page say it’s a good reminder of their priorities. By publicly showing what you are focused on now, it helps you say no to other requests."
        </blockquote>
        <a href="https://sive.rs/nowff">Derek Sivers</a>
    </article>
  
</Layout>