---
---

<span>★ All Time Fav</span>

<style>
    span {
        display: inline-block;
        background-color: goldenrod;
        max-width: fit-content;
        color: white;
        font-size: 0.8rem;
        padding: 0.3rem 0.8rem;
        border-radius: 20rem;
    }
</style>