---
interface Props {
    authors: [string],
}

const { authors } = Astro.props;
---

<div id="authors">
    {authors.map((author: string) =>
      <span class="author">{author}</span>
    )}
</div>


<style>
    #authors {
        display: flex;
        flex-direction: row;
        gap: 0.2rem;
        flex-wrap: wrap;
        align-items: flex-start;
  }

  .author {
    display: inline-block;
    background-color: var(--bg-3);
    padding: 4px 12px;
    border-radius: 30px;
    font-size: 0.8rem;
    color: var(--tx)

  }
</style>