---
---

<hr />
<div id="footer">
    <ul>
        <a href="/feed">Everything</a>
        <a href="/posts.xml">Posts</a>
        <a href="shorts.xml">Shorts</a>
        <a href="">Books</a>
    </ul>

    <ul>
        <a href="/colophon">Colophon</a>
        <a href="/">Impressum</a>
        <a href="/">Contact</a>
        <a href="/">Changelog</a>
    </ul>

    <ul>
        <a href="/">Mastodon</a>
        <a href="/">LinkedIn</a>
        <a href="/">GitHub</a>
        <a href="/">Instagram</a>
        <a href="/">Threads</a>
    </ul>
</div>

<style>
    #footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 3rem;
    }

    #footer ul {
        display: flex;
        flex-direction: column;
    }
</style>