---
interface Props {
    genre: string,
}

const { genre } = Astro.props;

interface GenreStyle {
    light: {
        backgroundColor: string,
        foregroundColor: string
    },
    dark: {
        backgroundColor: string,
        foregroundColor: string
    }
}

// Combined mapping for both background and foreground colors
const genreStyles: Record<string, GenreStyle> = {
    'Science Fiction': { 
        light: {
            backgroundColor: '#E4EDF8', 
            foregroundColor: '#588EF1' 
        }, 
        dark: {
            backgroundColor: '#12253B', 
            foregroundColor: '#588EF1' 
        }
    },
    'Philosophy': {
        light: { backgroundColor: '#F9EFD4', foregroundColor: '#CE9745' },
        dark: { backgroundColor: '#302711', foregroundColor: '#CE9745' }
    },
    'Fantasy': {
        light: { backgroundColor: '#F1E6FD', foregroundColor: '#AE6BF3' },
        dark: { backgroundColor: '#2E1747', foregroundColor: '#AE6BF3' }
    },
    'Business': {
        light: { backgroundColor: '#E3F5C7', foregroundColor: '#68A135' },
        dark: { backgroundColor: '#202D0C', foregroundColor: '#68A135' }
    },
    'Psychology': {
        light: { backgroundColor: '#FBE5F1', foregroundColor: '#EB62A0' },
        dark: { backgroundColor: '#330B20', foregroundColor: '#EB62A0' }
    },
    'Nature': {
        light: { backgroundColor: '#DAFBE6', foregroundColor: '#37BA65' },
        dark: { backgroundColor: '#0B2916', foregroundColor: '#37BA65' }
    },
    'Productivity': {
        light: { backgroundColor: '#FBECDB', foregroundColor: '#F76B29' },
        dark: { backgroundColor: '#2E1E0D', foregroundColor: '#F76B29' }
    },
};

const defaultStyle = {
    light: { backgroundColor: 'var(--bg-2)', foregroundColor: 'var(--tx-2)' },
    dark: { backgroundColor: 'var(--bg-2)', foregroundColor: 'var(--tx-2)' }
};

// const selectedStyle = genreStyles[genre]?.light || defaultStyle.light;


// const { backgroundColor, foregroundColor } = selectedStyle;

const genreStyle = genreStyles[genre] || defaultStyle;


const backgroundColorLight = genreStyle.light.backgroundColor;
const foregroundColorLight = genreStyle.light.foregroundColor;
const backgroundColorDark = genreStyle.dark.backgroundColor;
const foregroundColorDark = genreStyle.dark.foregroundColor;

---

<span>{genre}</span>

<style define:vars={{ backgroundColorLight, backgroundColorDark, foregroundColorLight, foregroundColorDark }}>
    span {
        display: inline-block;
        max-width: fit-content;
        padding: 4px 12px;
        border-radius: 30px;
        font-size: 0.8rem;
        white-space: nowrap;
        background-color: var(--backgroundColorLight);
        color: var(--foregroundColorLight);
    }

    @media (prefers-color-scheme: dark) {
        span {
            background-color: var(--backgroundColorDark);
            color: var(--foregroundColorDark);
        }
    }
</style>
