---
import { Image } from 'astro:assets';
import avatar from '../images/marcel_avatar.webp';
import RecentShortsList from './RecentShortsList.astro';
import { getCollection } from "astro:content";


interface Props {
	showingShort: boolean
}

const { showingShort } = Astro.props

const books = await getCollection("books");

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);

---

<div id="headerAndShort">
    <div class="avatarAndMenu">
        <a href="/"><Image src={avatar} alt="Avatar" width="60" height="60" densities={[1.5, 2]} id="avatar" /></a>
    
        <nav>
            <a href="/about" class={currentPath === "about" ? "active" : "inactive"}>About</a>
            <a href="/library" class={currentPath === "library" ? "active" : "inactive"}>Library <span class="badge">{books.length}</span></a>
        </nav>
    </div>
    
    {showingShort && <RecentShortsList amountOfShortsVisible={1} showingTriangle /> }
</div>


<style>
    #headerAndShort {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;

    }


	.avatarAndMenu {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
        align-items: center;
	}

    #avatar {
        border-radius: 300px;
        transition: transform 0.1s ease;
    }

    #avatar:active {
        transform: translateY(2px);
    }

    nav {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-content: start;
        align-items: start;
        /* align-content: stretch; */
    }

    nav a {
        color: var(--tx-2);
        border-radius: 40px;
        background-color: transparent;
        padding: 10px 16px;
        /* line-height: 1; */
        text-decoration: none;
        align-self: stretch;
    }

    nav a:hover {
        color: var(--tx)
        text-decoration: none;
        background-color: var(--bg-2);
    }

    nav .inactive {
        /* padding: 4px 8px 4px 8px; */
        /* padding: 2rem; */
       
    }

    nav .active {
        display: inline-block;
        background-color: var(--bg-2);
        color: var(--tx)
    }

    nav .badge {
        line-height: 2;
    }

    nav a:hover .badge,
    nav .active .badge {
        background-color: var(--ui);
    }

    nav li {
        list-style-type: none;
    }

    @media screen and (max-width: 450px) {
        .avatarAndMenu {
            flex-direction: column !important;
            gap: 1rem;
        }
    }


</style>