---
import { Image } from 'astro:assets';
import avatar from '../images/marcel.png';
import RecentShortsList from './RecentShortsList.astro';
import { getCollection } from "astro:content";


interface Props {
	showingShort: boolean
}

const { showingShort } = Astro.props

const books = await getCollection("books");

---

<div id="headerAndShort">
    <div class="avatarAndMenu">
        <a href="/"><Image src={avatar} alt="Avatar" width="60" height="60" densities={[1.5, 2]} id="avatar" /></a>
    
        <div id="navigation">
            <a href="/about">About</a>
            <a href="/library">Library <span class="badge">{books.length}</span></a>
            <a href="/now">Now</a>
        </div>
    </div>
    
    {showingShort && <RecentShortsList amountOfShortsVisible={1} showingTriangle /> }
</div>


<style>
    #headerAndShort {
        display: flex;
        flex-direction: column;
        gap: 1rem;

    }


	.avatarAndMenu {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
        align-items: center;
	}

    #avatar {
        border-radius: 300px;
        transition: transform 0.1s ease;
    }

    #avatar:active {
        transform: translateY(2px);
    }

    #navigation {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    #navigation li {
        list-style-type: none;
    }

</style>