---
import { getCollection } from 'astro:content';
import ShortCard from './ShortCard.astro';


interface Props {
	currentShortID?: string;
    amountOfShortsVisible?: number
}

const { currentShortID, amountOfShortsVisible } = Astro.props;

// Wenn eine currentShortID angegeben wird, wird dieser aus der Liste ausgefiltert
const allShorts = await getCollection("shorts", ({ id }) => {
    if(currentShortID != null) {
        // only return those where the id isn't the same as the provided id
        return id != currentShortID
    } else {
        // return everything
        return true
    }
});

allShorts.sort((a, b) => b.data.timestamp - a.data.timestamp);


---

<div class="triangleAndList">
    <div class="triangle" />
    <div class="shortList">
        {allShorts.slice(0,amountOfShortsVisible).map((short) =>
            <ShortCard slug={short.slug} />
        )}
    
        <a href="/shorts">Mehr</a>
    </div>
</div>

<style>

    .triangleAndList {
        display: flex;
        flex-direction: column;
    }
    .shortList {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        /* max-width: 300px; */
    }

    .triangle {
        width: 0; 
        height: 0; 
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;

        border-bottom: 15px solid var(--bg-2);

        margin-left: 20px;
    }

</style>