---
import { getEntry } from 'astro:content';
const { slug } = Astro.props

const short = await getEntry('shorts', slug);

let Content;
if (short) {
    // Only try to render Content if short is not undefined
    Content = (await short.render()).Content;
}

import { Icon } from 'astro-icon/components'

---

{short && 
    <div class="short">
        {Content && <Content />}
        <a href={`/shorts/${short.slug}`}>
            <div class="iconAndDate">
                <Icon name="link" />
                <span class="date">{short.data.timestamp.toDateString()}</span>
            </div>
        </a>
        
    </div>
}

<style>
    .short {
        font-size: 1.1rem;
        line-height: 1.5rem;
        background-color: var(--bg-2);
        padding: 24px 24px 20px 24px;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
    }

    .short a {
        text-decoration: none !important;
    }

    a {
        color: #333;
        text-decoration: none;
    }

   .iconAndDate {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.2rem;
        color: var(--tx-3)
   }

    .date {
        font-size: 0.8rem;
    }

    .date:hover {
        text-decoration: underline;
    }
</style>

