---
interface Props {
    tags: [string],
}

const { tags } = Astro.props;
---

<ul class="tagsList">
    {tags.map((tag: string) => 
        <span class="tag">{tag}</span>
    )}
</ul>


<style>
    .tagsList {
        display: flex;
        flex-wrap: wrap;
        gap: 0.2em;
    }

    ul {
        margin: 0px;
    }

    .tag {
        font-size: 0.8rem;
        padding: 2px 8px;
        color: var(--tx-2);
        background-color: var(--bg-2);
        border-radius: 30px;
        white-space: nowrap;
    }
</style>