---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import RecentShortsList from '../../components/RecentShortsList.astro';
import { Icon } from 'astro-icon/components';
import ShortCard from '../../components/ShortCard.astro';

export async function getStaticPaths() {
  const shorts = await getCollection('shorts');

  return shorts.map(short => {
    // Print each entry's slug to the console
    // console.log(entry.data.title);

    return {
      params: { slug: short.slug }, 
      props: { short },
    };
  });
}

const { short } = Astro.props;
const { Content, headings } = await short.render();


---

<Layout>
  <div id="triangleAndShort">
    <div class="triangle" />

    <ShortCard slug={short.slug} />
  </div>
  
  <!-- <p>Welcome to my very own little short message service. You can subscribe to a feed that only contains these little blurbs, if you're so inclined.</p>

  <RecentShortsList currentShortID={short.id} /> -->
</Layout>

<style>
  .short {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--bg-2);
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 400;
    padding: 1.5rem 1.5rem;
    border-radius: 0.8rem;
  }

  #triangleAndShort {
    display: flex;
    flex-direction: column;
    margin-top: -3.2rem;

  }

  .iconAndDate {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.2rem;
        color: var(--tx-3)
   }

    .date {
        font-size: 0.8rem;
    }

  .triangle {
        width: 0; 
        height: 0; 
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;

        border-bottom: 15px solid var(--bg-2);

        margin-left: 18px;
    }
</style>